@import "../../scss/variables.scss";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .organizer {
    width: 100%;
    > img {
      width: 100%;
      height: auto;
    }
  }
  .cohost {
    padding-right: 5%;
    padding-left: 5%;
    background-color: rgba(206, 188, 143, 0.4);
    border-radius: 15px;
    display: inline-flex;
    h3 {
      align-items: center;
      display: flex;
      color: $shell-mid-brown;
      font-size: unset;
    }
    > img {
      width: 70%;
      height: auto;
    }
  }
}
