.scrollarea {
    widows: 50%;
    .listContainer{
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        //overflow-y: auto;
    }
}

@media only screen and (max-width: 780px) {
    .scrollarea {
        .scrollarea-content{
           
        }
    }
}
