.scrollarea {
    widows: 50%;
    .listContainer{
        height: 100%;
        //overflow-y: auto;
    }
}

@media only screen and (max-width: 780px) {
    .scrollarea {
        .scrollarea-content{
            touch-action: unset !important
        }
    }
}