/* CARD */
.cardContainer {
    border-radius: 25px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    height: 100%;
    width: 100%;
}

.timeAndLocation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%
}