@import "../../scss/variables.scss";

.container {
  text-align: center;
  color: $shell-mid-brown;
  max-width: 525px;
  padding: 5px;

  > {
    display: block;
  }
  .linksContainer {
    margin: 0px
  }
}
