@import "../scss/variables.scss";

$max-conatiner-height: 75vh;
$min-conatiner-height: 25vh;
$container-padding: 50px;

.message {
  display: none
}

.pageContainer {
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  justify-content: center;
  li {
    margin:8px;
    font-weight: bold;
  }
 
  .leftContainer {
    width: 30%;
    //max-height: $max-conatiner-height;
    height: 100%;
    padding: $container-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    .socialMediaContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .floorPlans {
      background-color: rgba(206, 188, 143, 0.4);
      padding: 5%;
      border-radius: 15px;
      margin-top: 30px;
      color: $shell-mid-brown;
    }
    .musicPlayerSection {
      z-index: 5;
    }
  }
  .rightContainer {
    max-height: $max-conatiner-height;
    padding: 50px 100px 50px 50px;
    height: 100%;
    width: 66vw;

    .timerContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $shell-mid-brown;
      h1 {
        font-weight: 900;
        font-size: 4em;
      }
    }
    .scheduleAndAnnouncements {
      display: flex;
      height: 100%;
      
    }
  }
  .sponsors {
    width: 100%;
    height: 100%;
    max-height: $min-conatiner-height;
    padding: 25px;
    display: flex;
    overflow-x: auto;
  }
}
@media only screen and (max-width: 780px) {
  .pageContainer {
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: auto;
    .leftContainer{
      width: 100%
    }
    .rightContainer {
      width: 100%;
      padding: 0px 40px 0px 40px;
      .scheduleAndAnnouncements {
        flex-direction: column;
      }
      .timerContainer {
        width: 100%;
        padding: 15px 5px;
        h1 {
          font-size: 2em
        }
        h4{
          font-size: 30px
        }
      }
    }
  }
}
