@import "../scss/variables.scss";

* a:hover {
    cursor: pointer;
}

.links {
    color: $shell-sand;
    text-decoration: underline;
}

h1 {
    font-size: $heading-bg;
    font-weight: 900;
    line-height: $line-height-small;
}

h2 {
    font-size: $heading;
    font-weight: 700;
    line-height: $line-height-small;
}

h3 {
    font-size: $sub-heading;
    font-weight: 600;
}

h4 {
    font-size: $paragraph;
    line-height: $paragraph-height;
    font-weight: 400;
}

p {
    font-size: $paragraph;
    line-height: $paragraph-height;
    font-weight: 500;
}

#root
{
    overflow-x: hidden;
}

.hover-effect:hover {
    background-color: $shell-dark-pink;
    color: white;
}

.live-card {
    background-color: gray;
}
.active-live-card {
    background-color: darkblue;
}

