section {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10%;
}

section h1 {
    color: white;
    margin: 50px 0px;
    text-align: center;
    width: 100%;
}

* a:hover {
    cursor: pointer;
}

.links {
    color: var(--shell-sand);
    text-decoration: underline;
}

h1 {
    font-size: var(--heading-bg);
    font-weight: 900;
    line-height: var(--line-height-small);
}

h2 {
    font-size: var(--heading);
    font-weight: 700;
    line-height: var(--line-height-small);
}

h3 {
    font-size: var(--sub-heading);
    font-weight: 600;
}

h4 {
    font-size: var(--paragraph);
    line-height: var(--paragraph-height);
    font-weight: 400;
}

p {
    font-size: var(--paragraph);
    line-height: var(--paragraph-height);
    font-weight: 500;
}

#root
{
    overflow-x: hidden;
}

.hover-effect:hover {
    background-color: var(--shell-dark-pink);
    color: white;
}

.dashboard-card {
    background-color: var(--shell-dark-brown);
}

.active-dashboard-card {
    background-color: var(--shell-light-brown);
}

.landing-card {
    background-color: var(--shell-teal);
}

.active-landing-card {
    background-color: var(--shell-light-pink);
}

.landing-section-title {
    z-index: 1;
    position: relative;
}
.landing-section-paragraph{
    z-index: 1;
    position: relative;
}
.live-card {
    background-color: gray;
}
.active-live-card {
    background-color: darkblue;
}

