@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap");
@import './variables.scss';


@media screen and (min-width: 800px) {
  /* Desktop */
  :root {
    $paragraph: 1.2rem;
    $sub-heading: 1.777rem;
    $heading: 2.369rem;
    $heading-bg: 3.157rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  /* Tablets */
  :root {
    $paragraph: 1.2rem;
    $sub-heading: 1.777rem;
    $heading: 2.369rem;
    $heading-bg: 3.157rem;
  }
}

/* Containers */

html,
body {
  // height: 100%;
  width: 100%;
  background: $shell-sand;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0px
}
