@import "../scss/variables.scss";

.liveContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    z-index: 5;
    padding: 3% 10%;

    .leftContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 33vw;
        padding: 2% 5% 2% 5%;
        z-index: 5;
        .socialMediaContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .icon {
                padding-right: 1%;
                padding-left: 1%;
            }
        }
        .musicPlayerSection{
            z-index: 5;
        }
    }
    .rightContainer{
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 66vw;
        .timerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $shell-mid-brown;
            h1 {
                font-weight: 900;
                font-size: 4em
            }
        }
        .scheduleAndAnnouncements {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 100%;
        }

    }

}