  /* animation vars */
  $waves-speed: 3s;
  /* Colours */
  $shell-dark-pink: #ff1d8e;
  $shell-light-pink: #e86ba4;
  $shell-teal: #22c3d5;
  $shell-navy: #172a61;
  $shell-sand: #fbedca;
  $shell-dark-brown: #665b50;
  $shell-mid-brown: #8e7a69;
  $shell-light-brown: #9e8d7d;
  $shell-gradient: linear-gradient(#22c3d5, #172a61);
  /* line heights */
  $line-height-xsmall: 1.5384615em;
  $line-height-small: 1.25em;
  $line-height-large: 1.375em;
  $paragraph-height: 1.5em;
  /* Mobile */
  $paragraph: 14px;
  $sub-heading: 1.4rem;
  $heading: 1.8rem;
  $heading-bg: 2rem;